/* hero styles */

.hero {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h2 {
  font-family: var(--merri);
}

/* example todos styles */

.example-todos {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
}

.example-todos h2 {
  font-family: var(--merri);
  margin-bottom: 10px;
}

.todo-div {
  margin-top: 10px;
  margin-bottom: 0;
  border: 2px solid var(--lg);
  padding: 1rem;
}

.todo-title {
  font-family: var(--merri);
  font-size: 1.3rem;
}

.todo-description {
  font-family: var(--sans);
  font-size: 1rem;
}

.todo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.todo-checkbox {
  margin-left: 10px;
}

.todo-actions {
  gap: 1rem;
}

.add {
  margin-right: 5px;
}

.todo-actions button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--dg);
  color: var(--white);
  font-family: var(--sans);
  cursor: pointer;
  transition: 0.5s;
}

.todo-actions button:hover {
  background-color: var(--lg);
  color: var(--dg);
}

/* explanation styles */
.explanation {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.explanation h2 {
  font-family: var(--merri);
}

.explanation p {
  font-family: var(--sans);
  font-size: 1rem;
  margin-bottom: 5px;
}

.subtitle-bb {
  width: 100%;
  border-bottom: 2px solid var(--lg);
}

.explanation ul {
  list-style-type: none;
  padding: 0;
}

/* footer styles */

.footer {
  margin-top: 25px;
  background-color: var(--lg);
  color: var(--dg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.footer a {
  color: var(--dg);
  text-decoration: underline;
  display: block;
  padding: 10px 15px;
  transition: 0.5s;
}

.footer a:hover {
  color: var(--grey);
  background-color: var(--black);
  border-radius: 10px;
}

/* media queries */

@media (min-width: 850px) {
  .example-todos {
    max-width: 1200px;
  }

  .explanation {
    max-width: 1200px;
  }
  
  .footer {
    position: absolute;
    bottom: -100px;
    width: 100%;
  }
}