/* hero styles */

.hero {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h2 {
  font-family: var(--merri);
}

/* form section styles */

.form-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form .user-input-label {
  background-color: var(--black);
}

.login-form button {
  font-size: 16px;
  color: var(--white);
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--dg);
  transition: 0.5s;
}

.login-form button:hover {
  background-color: var(--lg);
}

.form-section p {
  margin-top: 10px;
  font-size: 16px;
}

.form-section p a {
  color: var(--lg);
}

.reset-password {
  background-color: var(--black);
  border: 1px solid var(--lg);
  color: var(--lg);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.reset-password:hover {
  background-color: var(--lg);
  color: var(--black);
}

.signin {
  background-color: var(--white);
}