/* hero styles */

.hero {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero h2 {
  font-family: var(--merri);
}

/* universal todos styles */

.todo {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
}

.todo {
  font-family: var(--merri);
  margin-bottom: 10px;
}

.todo-div {
  margin-top: 10px;
  margin-bottom: 0;
  border: 2px solid var(--lg);
  padding: 1rem;
}

.title {
  margin: 0;
  padding: 0;
  font-family: var(--merri);
  font-size: 1.3rem;
}

.description {
  font-family: var(--sans);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.todo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.todo-checkbox {
  margin-left: 10px;
}

.add {
  margin-right: 5px;
}

.todo-action {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--dg);
  color: var(--white);
  font-family: var(--sans);
  cursor: pointer;
  transition: 0.5s;
}

.todo-action:hover {
  background-color: var(--lg);
  color: var(--dg);
}

/* create new todo styles */

.create-new-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.create-new-todo h2 {
  font-family: var(--merri);
}

.create-new-todo button {
  margin-top: 15px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--dg);
  color: var(--white);
  font-family: var(--sans);
  cursor: pointer;
  transition: 0.5s;
}

.create-new-todo button:hover {
  background-color: var(--lg);
  color: var(--dg);
}

/* media queries */

@media (min-width: 850px) {
  .example-todos {
    max-width: 1200px;
  }
}